@font-face {
    font-family: AgencyFB;
    src:url(Asset/AGENCYR.TTF);
    font-weight: bold;
}
@font-face {
    font-family: Mitr;
    src: url(Asset/Mitr-Regular.ttf);
    font-weight: normal;
}

.websitelogo {
    color: white;
    background-color: black;
    border: 1px solid;
}
.blacktab {
    background-color: black;
    margin: 0;
    left: 0;
    width:100%;
    height:80px;
    font-family: AgencyFB; /* */
    position: fixed;
    display: flex;
    top:0%;
    opacity: 0.8;
    color: white;
    z-index: 4;
    justify-content:end;
    transition: opacity 0.5s;
}
.headerlogo {
    position: absolute;
    margin: 1%;
    padding-top: 0.5%;
    font-size: 5vh;
    left: 2% ;
    z-index: 5;
    transition: all 0.4s;
}
.headerbutton { /*about*/
    right: 2%;
    margin: 20px;
    color: white;
    position: relative;
    opacity: 1;
    z-index: 5;
    align-self: flex-end;
    transition: all 0.4s;
    font-size: 3vh;
}
#Mainbackground {
   /* Set rules to fill background */
   min-height: 100%;
   min-width: 1024px;
     
   /* Set up proportionate scaling */
   width: 100%;
   height:100%;
     
   /* Set up positioning */
   position: fixed;
   top: 0;
   left: 0;
   z-index: 0;
   object-fit: cover;
}
#SoftwareSelector {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    left: 56vw;
    top: 62vh;
    width: 38vw;
    height: 35vh;
    min-width: 400px;
    min-height: 200px;
    z-index: 1;
    transition: opacity 0.7s;
    justify-content: start;
}
#SoftwareSelector>img {
    width: 12%;
    opacity: 1;
    height: fit-content;
    margin-top: 5%;
    margin-left: 5%;
    position: relative;
    transition: all 0.3s;
}
#Banner {
    position: absolute;
    left: 58vw;
    top: 17vh;
    opacity: 0.9;
    width: 33.5vw;
    height: 45vh;
    transition: opacity 0.5s;
    margin: 0 auto;
}
#Logo {
    position:relative;
    margin : 10px;
    color: white;
    font-family: AgencyFB;
    text-align: center;
    height: auto;
    width: 100%;
    font-size: 9vw;
}
#NeonLogo {
    position:absolute;
    opacity: 0;
    margin : 10px;
    color: white;
    font-family: AgencyFB;
    top: 0%;
    text-align: center;
    height: auto;
    width: 100%;
    font-size: 9vw;
    text-shadow: 0 0 15px white;
    transition: all 0.5s;
}
#glowingbar {
    position: relative;
    background-color: white;
    width: 90%;
    height: 2%;
    top: -2%;
    transition: all 0.5s;
    margin: 0 auto;
}
#Introduction {
    color: white;
    position: absolute;
    left: 15%;
    right: 5%;
    top: 5%;
    font-size: 140%;
    font-family: Mitr;
    text-shadow: 0 0 5px black;
    transition: all 0.4s;
    width: 40vw;
    max-width: 70%;
}
#DefaultIntroduction {
    color: white;
    position: absolute;
    margin: 2%;
    padding: 0%;
    left: 15%;
    right: 5%;
    font-size: 140%;
    font-family: Mitr;
    text-shadow: 0 0 5px black;
    transition: all 0.4s;
    width: 40vw;
    max-width: 70%;
}
.BannerFooter{
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 140%;
    font-family: AgencyFB;
    width: 90%;
    flex-basis: 100%;
    height: fit-content;
    margin: 3%;
    padding: 2%;
    border: 2px solid white;
}
.BannerFooter>p{
    width: fit-content;
    margin: 1%;
    padding: 1%;
}
.Copy{
    font-size: 4vh;
    background-color: white;
    font-family: AgencyFB;
    width: fit-content;
    height: fit-content;
    transition: all 0.3s;
}
.Copy:active{
    text-shadow: 0 0 20px red;
}
.SocialMedia{
    flex-basis: 100%;
    margin: 1%;
    padding: 1%;
    color: white;
}

/*hover function*/
.blacktab:hover {
    opacity: 1;
}
.WebsiteLogo:hover{
    cursor: pointer;
    text-shadow: 0 0 10px white; 
}
#Banner:hover{
    opacity: 1;
}
#SoftwareSelector:hover{
    opacity: 1;
}
#SoftwareSelector>img:hover{
    cursor: pointer;
    margin-left: 3.5%;
    margin-top: 3.5%;
    width: 12vh;
    opacity: 1;
}
.headerbutton:hover{
    cursor: pointer;
    text-shadow: 0 0 20px white; 
}
.headerlogo:hover{
    cursor: pointer;
    text-shadow: 0 0 20px white; 
}
